// LOGO
@keyframes move-frame {
  50% {
    border: 5em solid #838383;
    box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.8);
  }
}
@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 25px 25px 50px rgba(0, 0, 0, 0.8);
    color: #838383;
  }
  100% {
    transform: translate(30%, 0);
  }
}
// HERO SECTION
@keyframes textin {
  0% {
    transform: translate(70%, 0);
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
}
@keyframes imgin {
  0% {
    transform: translate(-70%, 0);
  }
  10% {
    transform: translate(0%, 0);
  }
}
@keyframes colorshift {
  25% {
    box-shadow: -60px 50px rgba($color: #a6b1e1, $alpha: 1);
  }
  50% {
    box-shadow: -60px 50px rgba($color: #dcd6f7, $alpha: 0.5);
  }
  50% {
    box-shadow: -60px 50px rgba($color: #dcd6f7, $alpha: 0.5);
  }
  75% {
    box-shadow: -60px 50px #d6e5e3;
  }
}
// WELCOME ANIMATION
@keyframes welcome-logo {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
    color: #525252;
  }
  100% {
    transform: translate(30%, 0);
  }
}
@keyframes welcome-frame {
  50% {
    border: 5em solid #525252;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  }
}
@keyframes welcome {
  from {
    display: flex;
  }
}
// PORTAFOLIO

@keyframes blur {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

//CONTACT ME
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #791e94,
      0 0 70px #791e94, 0 0 80px #791e94, 0 0 100px #791e94, 0 0 150px #791e94;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #791e94,
      0 0 35px #791e94, 0 0 40px #791e94, 0 0 50px #791e94, 0 0 75px #791e94;
  }
}
@keyframes shrink-text {
  0% {
    opacity: 0;
    transform: translate(-70%, 0);
  }
  80% {
    opacity: 0.9;
  }
}
@keyframes show-form {
  0% {
    opacity: 0;
    transform: translate(70%, 0);
  }
  30% {
    opacity: 0;
    transform: translate(70%, 0);
  }

  90% {
    opacity: 0.8;
  }
}
