/* Error: expected "{".
 *   ,
 * 5 |     border: 5em solid #ebebeb;
 *   |                              ^
 *   '
 *   assets\css\sass\abstracts\_animations.scss 5:30  @import
 *   assets\css\sass\main.scss 3:9                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 5 \2502      border: 5em solid #ebebeb;\d\a   \2502                               ^\a   \2575 \a   assets\\css\\sass\\abstracts\\_animations.scss 5:30  @import\a   assets\\css\\sass\\main.scss 3:9                    root stylesheet';
}
