// Contact form
.contact {
  height: 100vh;
  width: 100%;
  &__title-cont {
    display: flex;
    width: 30%;
    justify-content: center;
    margin: auto 0;
    &:hover {
      color: #fff;
      -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
      -moz-animation: neon1 1.5s ease-in-out infinite alternate;
      animation: neon1 1.5s ease-in-out infinite alternate;
    }
  }
  &__title {
    font-size: 3em;
    font-weight: lighter;
    font-family: "Poppins", sans-serif;
    color: $azure-x-11;
  }
  &__form {
    width: 70%;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    padding: 8em;
    gap: 1em;
    height: 500px;
    border-left: 2px solid $light-gray;
  }
  &__label {
    font-size: 2.5em;
    font-weight: 700;
    color: $azure-x-11;
    font-family: "Courier New", Courier, monospace;
  }
  &__input {
    max-width: 70%;
    height: 4em;
    font-size: 1.5em;
  }
  &__textbox {
    max-width: 70%;
    height: 10em;
  }
  &__submit {
    width: 200px;
    height: 100px;
  }
}
