.main {
  .hero {
    height: 100vh;
    font-family: monospace;
    color: $azure-x-11;
    grid-gap: 2em;
    &__title {
     animation: textin 1.5s ease;
      font-size: 7em;
      align-self: end;
    }
    &__textbox {
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
    &__p {
      animation: textin 1.5s ease;
      font-size: 2.5em;
    }
    &__portrait {
      width: 400px;
      height: 400px;
      object-fit: cover;
      border-radius: 100%;
      box-shadow: -60px 50px rgba($color: #d6e5e3, $alpha: 0.5);
      animation: colorshift 7s infinite;
    }
  }
}