.main {
  max-width: 1440px;
  .hero {
    font-family: 'Courier New', Courier, monospace;
    color: $azure-x-11;
    display: flex;
    flex-direction: column;
    &__title {
      animation: textin 1.5s ease;
    }
    &__textbox {
      display: flex;
      flex-direction: column;
      gap: 2em;
      padding-right: 2em;
    }
    &__p {
      animation: textin 1.5s ease;
      font-size: 2.5em;
    }
    &__portrait {
      width: 100%;
      object-fit: cover;
      box-shadow: -60px 50px rgba($color: #d6e5e3, $alpha: 0.5);
      animation: colorshift 7s infinite;
    }
  }
}

@media (min-width: 768px){
  .main {
    .hero {
      height: 100vh;
      display: grid;
      grid-gap: 2em;
      &__title {
        font-size: 7em;
        align-self: end;
      }
      &__textbox{

      }
      &__p {

      }
      &__portrait {
        width: 400px;
        height: 400px;
        border-radius: 100%;
      }
    }
  }
}