.skills {
  height: 100vh;
  display: grid;
  border-top: 2px solid rgba($color: $azure-x-11, $alpha: 0.1);
  grid-template-columns: 50%;
  grid-auto-flow: column dense;
  align-items: center;
  width: 100%;

  .skills__back {
    display: none;
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon {
      height: 200px;
      width: 200px;
      cursor: pointer;
    }

    &__title {
      font-family: "Poppins", Courier, monospace;
      font-size: 60px;
      font-weight: 700;
      text-align: center;
      margin-top: 20px;
      max-width: 500px;
      cursor: pointer;
    }

    &__content {
      display: none;
    }
    &__back {
      display: none;
    }

    &--display {
      display: grid;
      grid-template-columns: 20% 60% 20%;
      pointer-events: auto;
      padding: 0 10%;
      width: 100vw;
      position: absolute;
      left: 0;
      z-index: 1;
      height: 100%;

      .mask {
        width: 90%;
        height: 90%;
        left: 5%;
        border-radius: 20px;
        align-self: center;
        background-image: linear-gradient(
          to right top,
          #914273,
          #975f94,
          #9b7bb2,
          #9f96cb,
          #a6b1e1
        );
        position: absolute;
        z-index: -1;
      }
      
      .skill__icon {
        height: 100px;
        width: 100px;
        grid-column-start: 0;
        place-self: center;
        filter: drop-shadow($shadow-light);
        animation: iconIn 2s ease-in;
      }

      .skill__content {
        width: 90%;
        height: 70%;
        display: flex;
        border: none;
        place-self: center;
        animation: contentIn 1s ease-in;
      }
      .skill__content--gallery {
        overflow: scroll;
        flex-direction: column;
        height: 90vh;
        max-width: 500px;
        box-shadow: inset 4px 27px 15px -19px #000000;
        filter: drop-shadow($shadow-light);
        gap: 20px;
      }
      
      .skill__title {
        display: none;
      }
    }
  }
  .skill__back--display {
    display: block;
    position: absolute;
    right: 10%;
    z-index: 2;
    display: block;
    width: 100px;
    place-self: center;
    filter: drop-shadow($shadow-light);
    cursor: pointer;
    animation: backArrowsIn 2.5s ease-in;

    &:hover {
      width: 110px;
    }
  }
  .skill--hide {
    display: none;
  }
}
